.singleRoomcontainer {
    padding-left: 100px;
    padding-right: 100px;
}
.roomTitle{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
}

.roomImage {
    display: flex;
    gap: 5px;
}

.singleImg {
    width: 100%;
    margin-bottom: 0;
    border-radius: 10px;
}

.room {
    width: 50%;
    /* width: 440px; */
}

.multiroom {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 50%;
}

.multiroom img {
    width: 49%;
    border-radius: 10px;
}

.twoimg {
    display: flex;
    gap: 5px;
}

/* for feature and locaiton button */
.feature_locationContainer{
    display: flex;
    justify-content: centere;
    align-items: center;
    gap: 23px;
    margin-bottom: 12px;
    margin-top: 23px;
    cursor: pointer;
    border-bottom: 1px solid gray;
    width: 153px;
}

.socialMediaIcons{
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 30px;
}

/* ------------media queries------------------- */

@media screen and (max-width: 800px){
    .singleRoomcontainer {
        padding-left: 10px;
        padding-right: 10px;
    }
    .multiroom {
        display: none;
    }
    .room {
        width: 100%;
        overflow: hidden;
    }
    
}








/* Add this CSS to roomDetails.css or a similar CSS file */

@keyframes shimmer {
    0% {
      background-position: -468px 0;
    }
    100% {
      background-position: 468px 0;
    }
  }
  
  .shimmer-wrapper {
    display: inline-block;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #f6f7f8;
    background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
    background-repeat: no-repeat;
    background-size: 800px 104px;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: shimmer;
    animation-timing-function: linear;
  }
  
  .shimmer {
    display: block;
    height: 100%;
    width: 100%;
  }
  